.descricao{
  display: none;
}

.example-card:hover .descricao{
  display:block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 10px;
  text-align-last: center;
  margin-top: -50%;
  animation-duration: 1s;
  animation-name: slidein;
}



@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.example-card {
    max-width: 420px;
    min-width: 350px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height: 450px;
  }
  
  .mat-card-image {
    height: 350px;
    width: auto;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
.example-card:hover .mat-card-image{
  z-index: -1;
  filter: blur(1px) brightness(0.8) sepia(0.3);
  width: max-content;
  padding-left: 1em;
  padding-right: 1em;
  transition: 500ms;
}
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .mat-card-image:first-child {
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: -webkit-fill-available;
    object-fit: cover;
}
  
.imagem{
  text-align-last: center; 
  position: relative;
}

