<div class="row">
  <div class="col" *ngFor="let character of data">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" style="background-image: url('{{env}}images/icon_ironman.png');"></div>
        <mat-card-title>{{ character.name }}</mat-card-title>
        <mat-card-subtitle>{{ character.id }}</mat-card-subtitle>
      </mat-card-header>
      <div class="imagem">
        <img
          mat-card-image
          src="{{ character.thumbnail.path }}.{{
            character.thumbnail.extension
          }}"
          alt="{{ character.modified }}"
        />
        <p class="descricao">
          {{ character.description }}
        </p>
      </div>
      <mat-card-content> </mat-card-content>
      <mat-card-actions> </mat-card-actions>
    </mat-card>
  </div>
</div>
<div class="btnArea">
  <button mat-raised-button matBadge="7" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
      Hide
  </button>
</div>

