.mobnav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 200%;
    margin-left: -50%;
    padding-bottom: 12em;
    z-index: 1;
    height: 15em; 
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-top-left-radius: 100%;  
    border-top-right-radius: 100%; 
    background-color: rgba(40, 40, 40, 0.8);
    margin-bottom: -10em;
}
.mobnav-view{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 200%;
    margin-left: -50%;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    z-index: 2;
    height: 16em; 
    padding-top: 1em;
    text-align: center;
    border-top-left-radius: 100%;  
    border-top-right-radius: 100%; 
    background-image: linear-gradient(gray, black, black, black);
    margin-bottom: -12.6em;
}

mat-toolbar-row{
    border-top-left-radius: 100%;  
    border-top-right-radius: 100%; 
    padding: 2em;
    text-align: center;
    z-index: 3;
}
fa-icon{
    z-index: 2;
    margin-left: 2em;
    margin-right: 2em;
    font-size: larger;
    color: rgba(255, 255, 255, 0.6);
}

mat-toolbar-row:hover fa-icon{
    z-index: 2;
    margin-left: 2em;
    margin-right: 2em;
    font-size: larger;
    color: rgb(162, 255, 255);
}
#fst{
    margin-left: 25%;
}
p{
    color: aliceblue;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
.nav{

}
