.mobnav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 200%;
    padding-left: 50%;
    padding-right: 50%;
    align-items: center;
    text-align: center;
    margin-left: -50%;
    padding-bottom: 12em;
    z-index: 1;
    height: 15em; 
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-top-left-radius: 100%;  
    border-top-right-radius: 100%; 
    background-color: rgba(40, 40, 40, 0.8);
    margin-bottom: -10em;
    filter: drop-shadow(0 -6mm 4mm rgb(219, 0, 0));
}
.mobnav-view{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 200%;
    margin-left: -50%;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    z-index: 2;
    height: 16em; 
    padding-top: 1em;
    text-align: center;
    border-top-left-radius: 100%;  
    border-top-right-radius: 100%; 
    background-image: linear-gradient(gray, black, black, black);
    margin-bottom: -12.6em;
}

mat-toolbar-row{
    border-top-left-radius: 100%;  
    border-top-right-radius: 100%; 
    padding-top: 1em;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
    text-align: center;
    z-index: 3;
}
.neon_img{
    z-index: 2;
    margin-left: 9%;
    margin-right: 9%;
    font-size: larger;
    color: rgba(255,255,255,0.5);
    fill: rgba(255,255,255,0.1);
    stroke: rgba(255,255,255,0.1);
    filter: blur(0) drop-shadow(-5px 5px 5px black);
}

.neon_img.on{
    color: white;
    fill: white;
    stroke: rgb(78, 240, 255);
    filter: drop-shadow(0 0 10px rgb(78, 240, 255))  drop-shadow(0 0 200px rgb(78, 240, 255));
}


p{
    color: aliceblue;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    filter: blur(0) drop-shadow(-5px 5px 5px black);
}
.nav.neon_img{
    align-self: center;
}
.nav{
    align-items: center;
    text-align: center;
    align-content: center;
    padding-top: 1em;
}
