

<div class="slide-container">
  <div class="conf">
    <button id="a" class="lang" (click)="translate('pt-br')">
      <img src="https://cdn3.iconfinder.com/data/icons/flat-circle-flag/180/circle_brazil-128.png" srcset="https://cdn3.iconfinder.com/data/icons/flat-circle-flag/180/circle_brazil-256.png 2x" alt="brazil, circle, flag icon" class="d-block ">
    </button>
    <button id="b" class="lang" (click)="translate('en-us')">
      <img src="https://cdn1.iconfinder.com/data/icons/world-flags-circular/1000/Flag_of_United_States_-_Circle-128.png" srcset="https://cdn1.iconfinder.com/data/icons/world-flags-circular/1000/Flag_of_United_States_-_Circle-256.png 8x" alt="flag, america, usa, flags icon" class="d-block ">
    </button>
    <button mat-fab color="a" id="c">
      <fa-icon [icon]="faCog"></fa-icon>
    </button>
  </div>
  <div class="wrapper">
    <div class="clash-card barbarian">
      <div class="clash-card__image clash-card__image--barbarian">
        <img class="img"
          src="{{env}}/images/drstrange.png"
          alt="drstrange"
        />
      </div>
      <!-- <div class="clash-card__unit-name">The Barbarian</div> -->
      <div class="clash-card__unit-description">

        <div id="begin" class="begin">
            <p>{{langue.intro}}</p>
            <button mat-fab color="a" (click)="begin()">{{langue.btnini}}</button>
          </div>
        
          <div id="game" class="game d-none">
            <div id="even" class="even">
              <p>{{ ask }}</p>
              <button mat-mini-fab color="a" (click)="isEven('yes')">{{langue.yes}}</button>
              <button mat-mini-fab color="a" (click)="isEven('no')">{{langue.no}}</button>
            </div>
            <div id="one" class="one d-none">
              <p>{{langue.is_one}}</p>
              <button mat-mini-fab color="a" (click)="isOne('yes')">{{langue.yes}}</button>
              <button mat-mini-fab color="a" (click)="isOne('no')">{{langue.no}}</button>
            </div>
            <div id="divide" class="divide d-none">
              <p>{{ divide }}</p>
              <button mat-mini-fab color="a" (click)="ok()">ok</button>
            </div>
            <div id="puzzle" class="puzzle d-none">
              <p>{{langue.result}}</p>
              <p class="resp">
                {{ puzzle }}
              </p>
              <button mat-fab color="a" (click)="remake()">{{langue.remake}}</button>
            </div>
          </div>
      </div>
    </div>
    <!-- end clash-card barbarian-->
  </div>
</div>
